apache-superset==4.0.2
duckdb==0.10.2
geoalchemy2==0.15.1
matplotlib==3.9.0
osmnx==1.9.3
psycopg2==2.9.9
pytest==8.2.1
shapely==2.0.4

# Cannot install overturemaps and apache superset in the 
# same python environnment because of pyarrow version
# overturemaps<=0.7.0

# Creates conflict with apache-superset
# sqlalchemy==2.0.30
# tabulate==0.9.0